/*delay for animations*/
.delay0_4s{
	animation-delay: .4s !important;
}
.delay0_5s{
	animation-delay: .5s !important;
}
.delay0_6s{
	animation-delay: .6s !important;
}
.delay0_7s{
	animation-delay: .7s !important;
}
.delay0_8s{
	animation-delay: .8s !important;
}
.delay0_9s{
	animation-delay: .9s !important;
}
.delay1_4s{
	animation-delay: 1.4s !important;
}
.delay1_5s{
	animation-delay: 1.5s !important;
}
.delay1_6s{
	animation-delay: 1.6s !important;
}
.delay1_7s{
	animation-delay: 1.7s !important;
}
.delay1_8s{
	animation-delay: 1.8s !important;
}
.delay-2s{
	animation-delay: 2s !important;
}
.delay-3s{
	animation-delay: 3s !important;
}
.delay-4s{
	animation-delay: 4s !important; 
}
.delay-5s{
	animation-delay: 5s !important;
}
/*delay for animations*/